@charset "UTF-8";

/*
#colors
*/
$primaryColor: #000;
$secondaryColor: #fff;
$textColor: #383e45;

// font
$baseFont: 15;
$baseFontSp: 14;
$baseWeight: 400;
$baseWeightBold: 700;
$lineHeight: 1.8;
$mincho: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN',
	'HG明朝E', serif;
$Gothic: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN',
	'メイリオ', Meiryo, sans-serif;

// コンテンツ幅
$baseWidth: 1000px;
$baseWidthSp: 91.25%;
$baseWidthPadding: 4.375%;

// キャンバスサイズ
$maxWidth: 2000px;

// ブレークポイント
$bpPcs: 1000px;
$bpTb: 768px;
$bpSp: 640px;
$bpSps: 425px;
